/* ************* index.html CSS ************ */


header {
  padding: 1em;
  /* background-color: var(--clr-primary-400); */
  width: 90%;
  margin-top: var(--s0);
  border: solid 2px var(--clr-accent-300);
  border-radius: 20px;
  /* box-shadow: 8px 8px 8px var(--clr-neutral-900); */


  background-image: url("/images/PanoAurora.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 150px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.main-title{
  font-size: 72px;
  text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 2.5rem;
  /* Footer height */
}

footer {
  margin-top: auto;
  width: 90%;
  
  /* Footer height */
  /* background-color: var(--clr-primary-400); */
  padding-top: 1em;
  margin-bottom: var(--s0);
  border: solid 2px var(--clr-accent-300);
  border-radius: 20px;


  background-image: url("/images/PanoAurora.jpg"); /* The image used */
  background-color: var(--clr-neutral-100); /* Used if the image is unavailable */
  height: 7.5rem; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
/* add copyright to all post footers including template */
.copyright {
  font-size: var(--s05);
  font-style:oblique;
  color: var(--clr-neutral-100);
}

section {
  border: solid 2px var(--clr-accent-300);
  border-radius: 10px;
  margin: 1em;

}

.post-card {
  display: flex;
  padding: 2em;

}
/* add shaddow to images on index and posts -  */
/* replace thumbnail class with image-shaddow in index.html */
/* replace style tag on img with this class */

.image-shaddow{
 border-radius:20px; 
 margin:auto; 
 box-shadow: 7.5px 7.5px 7.5px black;
}
/* 
.thumbnail {
  padding: 1em;
} */

.post-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* give some space to the left of sub-title on index page */
/* add this class to <h3> of "Post Sub Title text */
.subtitle{
  margin-left: 1em;
}

button {
  border: solid 2px var(--clr-primary-500);
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--s0);
  font-weight:bold;
  margin: 4px 2px;
  cursor: pointer;
  
  background-color: var(--clr-accent-300);
  
  /* add shodow to all buttons */
  box-shadow: 3px 3px 3px var(--clr-neutral-900);

  color: var(--clr-primary-500);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 1em;

}

/*  add visual effect to active button */
button:hover {
  /* background-color: var(--clr-neutral-900); */
  color: var(--clr-neutral-100);
  font-size:var(--s1);
}

/* *************** Post CSS ********************* */
.post-wrapper {
  max-width: 80%;
  margin: auto;
  margin-top: var(--s1);

}

.post-title {
  text-align: center;
  background-color: var(--clr-accent-100);
  border: solid 2px var(--clr-primary-400);
  box-shadow: 5px 5px 5px var(--clr-primary-400);
  border-radius: 15px;
  margin-bottom: var(--s1);
}

.post-sub-title {
  text-align: center;
  margin-top: 2em;
  background-color: var(--clr-accent-100);
  border: solid 2px var(--clr-primary-400);
  box-shadow: 5px 5px 5px var(--clr-primary-400);
  border-radius: 10px;
}

.post-image {
  display: block;
  margin: auto;
  padding: 2em;
  border-radius: 20px;
  border: solid 2px var(--clr-primary-400);
  margin-bottom: 1em;
}

.image-caption {
  font-family: 'Roboto', sans-serif;
  color: var(--clr-neutral-900);
  font-size: var(--s1);
  padding-top: 1em;
}

.video-link-button{
  width: 350px;
}